<div class="container">
  <h2 class="title">Explicacion</h2>
  <p>
    La pagina fue desarrollada con angular utilizando boostrap y primeng para la
    implementación de algunos componentes, como por ejemplo para el apartado de
    mapa conceptual se utilizo un componente llamado fieldset el cual permite
    manejarlo por recuadros, para el sidebar se utilizo un formato tree, en el
    cual permite seleccionar subopciones y para la actividad 2 lo que se utilizo
    fue un formato con checkbox y diferentes opciones y despues de validarlas se
    utilizo un modal para poder mostrar el mensaje de error
  </p>
</div>
